<%-/***************************************
      Global footer
    ***************************************/%>

<footer>
    <div class="container-fluid">
        <div class="footer-section footer-left col-xs-3 col-sm-4 col-md-4 col-lg-4">
            <a href="/"><img class="footer-brand-logo" alt="" src="/img/orderuphookuplogonolines.png"/></a>
        </div>
        <div class="footer-section footer-mid hidden-xs col-sm-4 col-md-4 col-lg-4">
            Copyright © Sam Messina 2019
        </div>
        <div class="footer-section footer-right col-xs-9 col-sm-4 col-md-4 col-lg-4">
            Powered by: <a href="https://www.yelp.com"><img id="yelp-logo" alt="yelp logo" src="/img/yelplogo.png"/></a>
        </div>
    </div>
</footer>
