<html>
    <head>
        <%- include('meta') %>
        <%- include('css') %>
        <title>orderUp hookUp | Find the closest, best food near me</title>
        <meta name="description" content="With orderUp hookUp, you can find food near you. Optimized for mobile and phone, orderUp hookUp helps you find your next meal while on the train, on vacation, or on the go. ">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="orderUp hookUp | Find the closest, best food near me" />
        <meta name="twitter:url" content="https://orderuphookup.smessina.com/" />
        <meta name="twitter:description" content="With orderUp hookUp, you can find food near you. Optimized for mobile and phone, orderUp hookUp helps you find your next meal while on the train, on vacation, or on the go. " />
        <meta name="twitter:image" content="https://orderuphookup.smessina.com/img/orderuphookuplogo.png" /> 


        <meta property="og:title" content="orderUp hookUp | Find the closest, best food near me" />
        <meta property="og:url" content="https://orderuphookup.smessina.com/" />
        <meta property="og:description" content="With orderUp hookUp, you can find food near you. Optimized for mobile and phone, orderUp hookUp helps you find your next meal while on the train, on vacation, or on the go. " />
        <meta property="og:image" content="https://orderuphookup.smessina.com/img/orderuphookuplogo.png" />
        <meta property="og:type" content="article" /> 

        <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5FVHD3W');</script>
  <!-- End Google Tag Manager -->
    </head>

    <body ng-app="foodHookup" >
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FVHD3W"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    <div ng-controller="MainCtrl" >

      <div id="index-container">

        <div class="page-header">
          <h1 class="hidden" id="site-title">OrderUP HookUP</h1>
          <img alt="OrderUP HookUP" id="main-logo"  src="/img/orderuphookuplogo.png"/>
        </div>

    <form id="initial-form" method="get" action="/yelp">
      <h2 class="center-container" >Let's find you some food</h2>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="What do you want?"
                 name="terms"
                 ng-model="terms"
                 autofocus="autofocus"></input>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Where are you?"
                 autocomplete="off"
                 g-places-autocomplete
                 force-selection= "true";
                 name="location"
                 ng-model="location"></input>
          <input type="hidden"
                 name="o_location"
                 ng-model="o_location"
                 value="{{location.geometry.location}}"></input>
        </div>
      </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="center-container ">
                            <button id="main-form-submit" type="submit" class="btn btn-primary">Find some food!</button>
                        </div>
                    </div>
      <input type="hidden"
             name="offset"
             ng-model="offset"
             value="0"></input>

        </div> <!-- end main controller div -->
        <%- include('footer')%>
        <%- include('js') %>



         <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebApplication",
            "name": "orderUp hookUp",
            "url": "https://orderuphookup.smessina.com/",
            "description": "With orderUp hookUp, you can find food near you. Optimized for mobile and phone, orderUp hookUp helps you find your next meal while on the train, on vacation, or on the go. ",
            "applicationCategory": "Tools",
            "genre": "food",
            "about": {
              "@type": "Thing",
              "description": "With orderUp hookUp, you can find food near you. Optimized for mobile and phone, orderUp hookUp helps you find your next meal while on the train, on vacation, or on the go. "
            },
            "browserRequirements": "Requires JavaScript. Requires HTML5.",
            "softwareHelp": {
              "@type": "CreativeWork",
              "url": "https://orderuphookup.smessina.com/"
            },
            "operatingSystem": "All"
          }
         </script>
    </body>
</html>
