<html>
    <head>
        <%- include('meta') %>
        <%- include('css') %>
        <title>OrderUP HookUP</title>
    </head>

    <body ng-app="foodHookup" >
            <script>
             var wrong_loc;
             wrong_loc = "<%-(wrong_loc)%>";
             console.log((wrong_loc));
            </script>
        <div ng-controller="MainCtrl" >
            <div id="about-container" class="container">
                <div class="row" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="/">
                            <img alt="OrderUP HookUP" id="main-logo"  src="/img/orderuphookuplogo.png"/>
                        </a>
                    </div>
                    <div id="about-title" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="hidden">OrderUp HookUp</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 id="nope-head">Hmm.....</h2>
                        <p id="nope-bod">
                            I'm not really sure where
                        <span class="wrong-loc">{{wrong_loc}}</span>
                            is....
                        </p>
                        <a href="/">
                            <button id="nope-button" class="btn btn-primary">Try Again?</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%- include('js') %>
    </body>
</html>
